.App {
  text-align: center;
  padding-left: calc(100vw - 100%);
}

.main {
  margin: 1em 3em;
}

.form {
  max-width: 60em;
  margin: 3em auto;
}

.item {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: left;
  margin: 3em 0;
}

.field {
  padding: 0;
  margin: 0 !important;
  color: #FFFFFF !important;
  text-align: left !important;
  width: 15em;
}

.input {
  max-width: 40em;
}